.hashem{
    background-color: #114188 !important;

}

.btn-mar{
    margin-right: 15px;
}
/*.side-bar{
    height: 90vh;
    position: fixed!important;
    top: 50px;
    background-color: #114188;
    right:0px
}*/