.hashem{
    background-color: #0f1e36 !important;
    color: #ccc !important;

}

.app{
    background-color: rgb(11, 12, 27);
}
.btn-mar{
    margin-right: 15px;
}
.card{
    margin: 15px;
    background-color: rgb(23, 25, 48);

}
.side-bar{
    background-color: rgb(23, 25, 48);
    
/*
    background-color: #114188;
    height: 90vh;
    position: fixed!important;
    top: 50px;
    right:0px
    
    */
}

.wel{
height: 83.3%;
}
textarea , select,input[type=text]
{
    background-color: #ccc !important;
    letter-spacing: 3px;

}
.photo{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 30px rgb(11, 12, 27);
    margin-top:10px;
}
.photto
{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 30px rgb(32, 35, 68);
    margin-top:10px;
}
.back
{
    background-color: #0f1e36!important;
    margin-bottom: 30px;
    text-align:center;
    top: 0px;
}
.adm{
        margin: 20px;

}
.btttn{
    margin-top: 20px;
}
h1, h2, h3, h4, h5, h6 , p , a ,label 
{
    color: #ccc;
    text-shadow: 0px 0px 10px rgb(23, 25, 48);  
}
.table
{
    margin: 50px;
}

.footer{
    background-color:  #0f1e36;
}

.margin_auto{
    margin :15px 0px!important;
    color:#000;
    text-align:center;
    background-color: #0f1e36;
}

.card_min{
    min-height:400px!important;
}